<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="li dashboard"/>
    <meta name="copyright" content="laMi1Agence developpement ed solutions" />
    <meta name="viewport" content="width=device-width,  initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">  
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/ab.css' /> 


  </head>

