//LOGO
.logo {
    height: 3.25rem;
    margin-left:2rem;
}
//HEADER ELEMENT
header {

}
//SEARCH BOX
.form-search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and(max-width: $bp-smallest){
        order:1;
        margin: auto;
        
    }
    &__input {  
       width: 90%;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-light-6);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        margin-right: -3.25rem;
        transition: all .2s;
        
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-light-5);
        }
        &::-webkit-input-placeholder,
        &::-moz-input-placeholder,
        &::input-placeholder {
            font-weight: 100;
            color:var(--color-dark-3);


        }
    }
    &__input:focus + button {
        background-color: var(--color-light-5);

    }
    &__button {
        border: none;
        background-color: var(--color-light-6);
        
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-dark-3);
    }
}
//USER NAVIGATION
.user-nav {
    background-color: var(--color-light-3 );
    align-self: stretch;
    display: flex;
    align-items: center;
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;     
        display: flex;
        align-items: center;
        @media only screen and(max-width: $bp-small){
            flex-wrap: wrap;
        }
    } 
    
    & > *:hover {
        background-color: var(--color-light-5);      
     } 
     
    &__icon-box {
        position: relative;
    
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill:var(--color-blue-primary);
    }
    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        color: var(--color-blue-primary);
        background-color: var(--color-green-3);
        position: absolute;
        left:4rem;
        top: 2.5rem; 
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user {
    
        &-photo {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
        
        }
        &-name {
            font-size:var(--default-size);
            color: var(--color-blue-primary);
        }
    }
}
//SIDEBAR
.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    .side-nav {
        //position:fixed;
        justify-content: start;
        font-size:var(--default-size);
        list-style: none;
        margin-top: 2.5rem;
        @media only screen and (max-width: $bp-medium) {
            display: flex;
            margin: 0;
        }
        &__item {
            position: relative;
            &:not(:last-child) {
                margin-bottom:  .5rem; 
                @media only screen and (max-width: $bp-medium) {
                    margin-bottom: 0;
                }
            }
            @media only screen and (max-width: $bp-medium) {
             flex: 1;
            }    
        }

        &__item::before {
            content:"";
            display: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-blue-primary);
            transform: scaleY(0);
            transition: transform .2s,
                        width .4s cubic-bezier(1,-0.01,0,1.19) .2s,
                        background-color .1s ;
        }

        &__item:hover::before,
        &__item--active::before {
            transform: scaleY(1); 
            width: 100%;
        }
        
        &__item--active::before {
            background-color: var(--color-blue-primary);
        }
        &__link:hover {
           // transform: translateY(.3rem);
        }
        &__link:link,
        &__link:visited {
            position: relative;
            color: var(--color-light-5);
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 3rem;
            display: flex;
            align-items: center;
            z-index: 10;
            transition: all .3s;
            @media only screen and (max-width: $bp-medium) {
                justify-content: center;
                padding: 2rem;
            }
            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
                padding: 1.5rem .5rem;
                align-items: center;
            }
    
        }
        &__icon{
            width: 1.75rem;
            height: 1.75rem;
            margin-right: 2rem;
            fill: var(--color-green-4);
            @media only screen and (max-width: $bp-small) {
                margin-right: 0;
            }
    
        }
    }
    .legal {
        font-size: 1.2rem;
        padding: 2.5rem;
        text-align: center;
        color: var(--color-light-3);
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
       
        
    }
}
////////MAIN
//GALLERY
.gallery {
    display:flex;
    .gallery__photo {
        width: 100%;
        display: block;
        border: 1px solid var(--color-blue-primary);

    }
}
//OVERVIEW
.overview {
    display: flex;
    border-bottom: var(--line);
    align-items: center; 
    //justify-content: space-between;
    &__heading {
        padding: 2rem;
        @media only screen and (max-width: $bp-medium) {
            padding: 1rem;
        }
        
        &--link:link,
        &--link:visited{
        margin-right: 2rem;   
        font-size: 2.1rem;
        color: var(--color-blue-primary);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
       
        @media only screen and (max-width: $bp-medium) {
            font-size: 1.7rem;
            margin-right: 1rem;
            }
        
        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
            margin-right: 1rem;
            }
        } 
    }
    &__stars {
        display:flex;
        
        margin-right: auto;
        &__icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--color-green-4);
        }
        
    }
    &__top--location {
        display: flex;
        vertical-align: center;
        &-icon {
            width: 2rem;
            height: 2rem;
            margin-right: .3rem;
            fill: var(--color-blue-primary);
            flex-shrink: 0;
            &:hover {
                color: var(--color-green-3);
            }
        }
            
    }
    
    &__top--rating {
        background-color: var(--color-blue-primary);
        display: flex;
        align-self: stretch;
        flex-direction: column;
        color:var(--color-light-5);
        align-items: center;
        justify-content: center;
        margin-top:-1rem;
        &-average {
            font-size: 2.2rem;
            font-weight: 300;
            @media only screen and (max-width: $bp-small) {
                font-size: 1.5rem;
                }
         
        }
        &-count {
            font-size: 1.2rem;
            text-transform: uppercase;
            padding: 0 1.5rem;
            @media only screen and (max-width: $bp-small) {
                padding: 0 1rem;
            }
         
        }
    }

}
.detail {
    font-size: 1.4rem;
    display:flex;
    .organisation-view {
        &__name {
            @include titre;        
        }
        &__description {
            margin-bottom: 2rem;
        }
        &__caracteristique{
            align-self: center;
            margin: 1.5rem 0;
            padding: 3rem 0;
            border-top: var(--line);
            border-bottom: var(--line);
            display: flex;
            flex-wrap: wrap;
            .list__item {
                flex: 0 0 50%;
                list-style: none;
                margin-bottom: .7rem;
                //align-self: center;

            }
            .list__item::before {
               content: "";
               display:inline-block;
               height: 1.2rem;
               width: 1.2rem;
               margin-right: .7rem;
               
               //fill: var(--color-green-3); 
               //OLDER BROWSER
                background-image: url("/dashboard/img/SVG/chevron-right.svg");
                background-size: cover;
                //MODERN BROWSERS
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color:  var(--color-green-3);
                    -webkit-mask-image: url("/dashboard/img/SVG/chevron-right.svg");
                    -webkit-mask-size: cover;

                    mask-image: url("/dashboard/img/SVG/chevron-right.svg");
                    mask-size: cover;
                    background-image: none;
                    
                }  
            }
        }
        &__recommend {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.4rem;
            &--user {
                color: var(--color-blue-primary);
                margin-right: auto;
            }
            &--illustration {
                display: flex;

                .organisation__ilustration--img {
                   box-sizing: content-box;
                    width: 7rem;
                    height:7rem;
                    border-radius: 50%;
                    border: 1px solid var(--color-light-5);
                    &:not(:last-child) {
                        margin-right: -1.8rem;
                        
                    }
                    
                
                }
            }
        }


    }
}
.user-view {

    &--palmares {
        @include titre;
    }
    .review {
        box-shadow: var(--shadow-dark);
        padding: 2rem;
        margin-bottom: 2rem;
        position: relative;
        overflow:hidden;
        @media only screen and (max-width: $bp-medium) {
            padding: 1.5rem;
            margin-bottom: 1.5rem;
        }
       
        &__text {
            z-index: 10;
            position: relative;
        }
        &__user {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__photo {
            width: 5rem;
            height: 5rem;
            margin-right: 1.4rem;
            border-radius: 50%;
        }
        &__user-box {

        }
        &__user--name {
            color:var(--color-green-3);
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 400;
        }
        &__user--date {
            font-size: 1.1rem;
            color: var(--color-blue-primary);

        }
        &__user--rating {
            font-size: 1.5rem;
            margin-left: auto;
            color: var(--color-light-5);
        }
        &::before {
            content:"\03C6"; 
            position: absolute;
            top: 1.3rem;
            right: -1.5rem;
            font-size: 8rem;
            color: var(--color-green-4);
            line-height: 1rem;
            font-family: sans-serif;
            z-index: 1;
        }
    }
}
    .btn__inline {
        color: var(--color-blue-primary);
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        border-bottom: 1px solid currentColor;
        margin-right: 2rem;
        padding-bottom: .2rem;
        display: inline-block;
        transition: translateY .3s ;
        align-self: center;
        cursor: pointer;

            & span {

                margin-left: 3px;
                transition: margin-left .5s;
            }
        &:hover,
        &:active {
            color: var(--color-blue-side);
            transform: translateY(3px);
            //background-color: var(--color-light-5);
            span {
                margin-left: 7px;
              }
        }
        &:focus {
            outline: none;
            animation: pulsate 1s infinite;
        }
    }
.cta {
    background-color: var(--color-light-3);
    padding: 3.5rem 0;
    text-align: center;  
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem 0;
    }
   
    &__book-now {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 1.5rem;
        }
       
    }
    &__btn {
        font-size: 3rem;
        border: none;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 100px;
        background-image: linear-gradient( to right ,var(--color-green-4), var(--color-blue-primary));
        color:var(--color-light-3);
        position: relative;
        overflow: hidden;
        cursor: pointer;
        & > * {
            display: inline-block;
            transition: all .3s;
            height: 100%;
            width: 100%;
        }
        &__visible {
            
            padding: 1.5rem 7.5rem;
            
        }
        &__invisible {
            position: absolute;
            padding: 1.5rem 0;
            left: 0;
            top: -100%;
        }
        &:hover {
        background-image: linear-gradient( to left ,var(--color-green-4), var(--color-blue-primary));

        }
        &:hover &__invisible {
            top: 0;
    
        }
        &:hover &__visible {
            transform: translateY(100%);
        }
        &:focus {
            outline: none;
            animation: pulsate 1s infinite;
        }
    }//&__btn
}    
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 10rem var(--color-green-4);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}
