.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    @media only screen and(max-width: $bp-largest){
        margin: 0;
        max-width: 100%;
    }
}
.header {
    font-size:1.4rem;
    height: 8rem;
    background-color: var(--color-light-3);
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and(max-width: $bp-smallest){
        flex-wrap: wrap;     
        height: 11rem;
        
    }
}
.content {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        
    }
}

.sidebar {
    background-color: var(--color-blue-side);
    flex: 0 0 18%;
    color: var(--color-light-5);

}
.view-dash {
    background-color: var(--color-light-5);
    flex: 1;
   // height: 80rem;
}
.detail {
    font-size: 1.4rem;
    display:flex;
    padding: 3.5rem;
    background-color: var(--color-light-3);
    border-bottom: var(--line);
    @media only screen and (max-width: $bp-medium) {
        padding: 1.5rem;
   
    }
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

}
.organisation-view {
    flex: 0 0 60%;
    margin-right: 3.5rem;
    background-color: var(--color-light-1);
    box-shadow: var(--shadow-dark);
    padding: 3rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 1.5rem;
        margin-right: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}
.user-view {
    flex: 1;
    background-color: var(--color-light-1);
    box-shadow: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp-small) {
        flex: 0 0 60%;
    }    
}
