
{{#if index}}
      {{> head}}
{{/if}}

{{#if dash}}
  {{> dash-head}}
{{/if}}



{{!--
{{> navbar}}
 --}}
{{!-- {{> vdo}} --}}
  <body>
    {{#if index}}
      {{> header}}
    {{/if}}

    {{{body}}}
  
  </body>
    {{#if index}}
      {{> footer}}
    {{/if}}   
      {{> scripts}}
</html>
