$defaultFont: 'Lato', sans-serif;
$logoFont: 'Revalia', cursive;
$lobsterFont: 'Lobster', cursive;
$eliteFont: 'Special Elite', cursive;
$voltaireFont: 'Voltaire', sans-serif;

body {
    font: $default-font-size $defaultFont;
    font-weight: 300;
    color:$darkGrey;
    line-height: 1.7rem;

}

.navbar-brand  {
    font-family: 'Revalia', cursive;
    color: $greenAldi!important ;
    font-size: 3.5rem !important;
    font-weight: 300;
    letter-spacing: 1rem;
    @include respond(portrait) {
        font-size: 2rem;
        
    };
}

.heading-secondary {
    font-weight: 700;
    letter-spacing: .5rem;
    transition: all .5s;
    
    .company {
        text-transform: uppercase;
        font-size: 3.5rem;
        background-image: linear-gradient(to right, $color-blue-left-gradient, $color-blue-right-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
    }
    &:hover {
        text-shadow: .2rem .5rem 1.1rem $color-blue-right-gradient;       
    }
    @include respond(portrait) {
        font-size: 2rem;
        
    };
}

.heading-secondary-2 {
    text-align: center;
    color: $color-blue-fix-dark;
    line-height: 2rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
    margin-top:1.5rem;

}
.heading-tertiary {
    
    font-size: $default-font-size;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-blue-heading;
}  

.project-description {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    .project-description__paragraph {

        }
    }
.section-features-heading-secondary-2 {
    text-align: center;
    font-size:3rem;
    text-transform: uppercase !important;
    padding-bottom:2rem;
}
        