.u-center-text {
    text-align: center;
}
.u-margin-bottom-8 {
    margin-bottom: 8rem;
}
.u-margin-bottom-2 {
    margin-bottom: 1.5rem;
}
.u-section-heading {
        text-transform: uppercase;
        font-size: 3.5rem;
        background-image: linear-gradient(to right, $color-blue-left-gradient, $color-blue-right-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
}
