<div id="ab">
     <div class="btnStart">Start Game</div>
    <div class="dashboard">
        <span class="speedDash"></span>/MPH |
        Score:<span class="scoreDash"></span> |
        <span  class="lifeDash"></span>
    </div>
    <div id="container">
        <div class="advert"></div>
    </div>
    <div id="ab-train">
        <canvas height="300"   style="border: 2px  solid #000" id="ctx" />
    </div>
 </div>

