 <!-- The video -->

<video autoplay muted loop id="myVideo">
  <source src="/vdo/ile3.mp4" type="video/mp4">
</video>

<div class="container accroche">
  <div class="row">
    <h1 class="leadin" >Investissez vous pour cultiver une nouvelle géneration ?</h1>
  </div>
  <div class="row"> 
    <h2 class="copy">Nos outils pour dépasser le naturelle et faciliter le </h2>
  </div>
    <div class="row">
        <h1 class="copy p-5">  <bold>SÛR NORMAL</bold></h1> 
    </div>
    <div class="row"> 
        <h3 class="action"> A partir de 3€ vous n aurez plus à les convaincre </h3>
    </div>
  
  <!-- Use a button to pause/play the video with JavaScript -->
<div class="row"> 
  <button id="btnstart" onclick="newsletter()">Get Started / SignUp</button>
</div>
  
</div> 
