<main>
<section class="section__navigation">
  <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>  
        <div class="navigation__background">&nbsp;</div>
     
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"> <a href="#about" class="navigation__link"> About lami1a</a></li>
                <li class="navigation__item"><a href="#features" class="navigation__link">features and expertise</a></li>
                <li class="navigation__item"><a href="#book" class="navigation__link"> subscription</a></li>
                <li class="navigation__item"><a href="#footer" class="navigation__link"> terms of privacy</a></li>
                
            </ul>
        </nav>
</section>
  <section class="section-about" id="about"> 
      <div class="section-about__title u-center-text u-margin-bottom-8">
        <h1 class="heading-secondary ">
          <span class="navbar-brand">laMi1A</span> <span class="company">actual projects</span> 
        </h1>
        <h2 class="heading-secondary-2" > we compute intelligent tools for success development</h2>
      </div> 
      <div class="row">
        <div class="col-1-of-2">
          <h2 class="heading-tertiary u-margin-bottom-2">li Om</h2>
          <div class="project-description">
            <p class="project-description__paragraph">
               Our first project , we are proud to provide a plateforme for this app / on web and mobile app
            </p>
           </div>
          <h2 class="heading-tertiary u-margin-bottom-2"> li- Ab</h2>
          <div class="project-description">
            <p class="project-description__paragraph">
              beta version of li il  API is enhanced for premium clientsthey pay 3 € by month   
            </p>
          </div>
          <h2 class="heading-tertiary u-margin-bottom-2"> Surprise</h2>
          <div class="project-description">
              <p class="project-description__paragraph"> 
                we gelousely hide the content of this application because it s just an idea   
              </p>
          </div>
        <a href="#news" class="btn-text"> project to expect &rarrhk;</a>
        </div>
        
        <div class="col-1-of-2">
          <div class="composition">
            <img srcset="/img/juda-1.png 250w, /img/juda-2.png 500w" alt="projet omia1" 
            class="composition__photo composition__photo--p1" 
            sizes="(max-width: 900px) 27vw, (max-width: 600px) 41vw, 500px"
            src="/img/juda-1.png">

            <img srcset="/img/lavand-1.png 250w, /img/lavand-2.png 500w" alt="projet omia1" 
            class="composition__photo composition__photo--p2" 
            sizes="(max-width: 900px) 27vw, (max-width: 600px) 41vw, 500px"
            src="/img/lavand-1.png">
            
            <img srcset="/img/laga-1.png 250w, /img/laga-2.png 500w" alt="projet omia1" 
            class="composition__photo composition__photo--p3" 
            sizes="(max-width: 900px) 27vw, (max-width: 600px) 41vw, 500px"
            src="/img/laga-1.png">
           
           </div>
        </div>
      </div>
  </section>  

  <section class="section-features" id="features">
         <h2 class="section-features-heading-secondary-2" > master javascript stack</h2>
     <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-world"></i>
          <h2 class="heading-tertiary u-margin-bottom-2"> javascript</h2>
          <p class="feature-box__text">*
            (product owner) li project <br/>
            javascript app
          </p>   
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-helm"></i>
          <h2 class="heading-tertiary u-margin-bottom-2">frameworks</h2>
          <p class="feature-box__text">
            front-end <br/>
            React-Redux-thunk.
          </p>   
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-lightbulb"></i>
          <h2 class="heading-tertiary u-margin-bottom-2">management</h2>
          <p class="feature-box__text">
            (li) Developement to Deployment solution<br/>
            master deployment of cloud serverless solution 
          </p>   
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-share"></i>
          <h2 class="heading-tertiary u-margin-bottom-2">projects</h2>
          <p class="feature-box__text">
            API (development & Documentation)<br/>
            liil API          </p>   
        </div>
      </div>
    </div>  
  </section>

<section class="section-book" id="book">
  <div class="row">
    <div class="book">
      <div class="book__form">
        <form action="http://lami1a.org" method="POST" class="form" enctype="application/x-www-form-urlencoded">
            <div class=" u-margin-bottom-2">
              <h2 class="section-features-heading-secondary-2">free trial</h2>
            </div>
          <div class="form__group">
            <label for="email" class="form__label">email
              <input type="email" id='email' name="email" class="form__input" placeholder="@mail" required> 
            </label>
          </div>
          <div class="form__group">
            <label for="login" class="form__label">login
              <input type="text" id='login' name="login" class="form__input" placeholder="login" required>
            </label>
          </div>
          
          <div class="form__group">
            <label for="password" class="form__label">password
              <input type="password" id='password'  name="password" class="form__input" placeholder="password 4 ch mini" required>
            </label>
          </div>
          <div class="form-group">
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="fre" value="fre" name="cat" >
              <label for="fre" class="form__radio-label" > 
                <span class="form__radio-button"></span>
                free
              </label>
            </div>
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="fam" value="fam" name="cat">
              <label for="fam" class="form__radio-label"> 
                <span class="form__radio-button"></span>
                family</label>
            </div>
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="org" value="org" name="cat">
              <label for="org" class="form__radio-label">
                <span class="form__radio-button"></span>
                 organisation</label>
            </div>
          </div>
          <div class="form__group">
             <button class="btn btn--green btn--animated ">  
               subscribe 
             </button>  
          </div>
        </form>
      </div>
    </div>
  </div>
</section><!--SECTION BOOKING -->

    
  

</main>
    