<div class="container">
<header class="header">
        <img src="/img/logo-1.png" alt="" class="logo">
        <form action="" class="form-search">
            <input type="text" class="form-search__input" placeholder="search user">
            <button class="form-search__button">
                <svg class="form-search__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>
        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-home"></use>
                </svg>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-link"></use>
                </svg>
                <span class="user-nav__notification">2</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-users"></use>
                </svg>
                <span class="user-nav__notification">5</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-bookmarks"></use>
                </svg>
                <span class="user-nav__notification">2</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-line-graph"></use>
                </svg>
                <span class="user-nav__notification">5</span>
            </div>
            <div class="user-nav__user">
                <img src="/dashboard/img/caneva.png" alt="" class="user-nav__user-photo">
                <span class="user-nav__user-name">lami1a</span>
            </div>
        </nav>
    </header>

</div>

