.btn {
    
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .5s;
        border: 1px solide $blueFont;
        position: relative;
        font-size: 1.5rem;
        
        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba(4, 14, 20, 0.5);
        color: $darkGrey;
        background-color: $color-green-aldi;
    }

    &:active {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba(4, 14, 20, 0.5);
        color: $greenAldi;
    }

    &--white {
        background-color: $lightWhite;
        color: $greenAldi;
        &::after{
            background-color: $color-grey-light-1;
        }
    }
        &--acid {
            background-color: $color-green-acid;
            color: $color-blue-fix-dark;
            &::after{
                background-color: $color-grey-light-1;
            }
    }
    &--green {
        background-color: $color-green-aldi;
        color: rgb(20, 53, 66);
       // width:16%;
        font-size: 1.8rem;
        display: inline-block;
        border-radius: 3rem;
        transition: all .5s;
        
        &::after{
            background-color: $color-grey-light-1;
        }
        
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        transition: all .5s;
    }

    
    &:hover::after {
        transform: scaleX(1.5) scaleY(1.3);
        opacity: 0;   
    }

    &--animated {
        animation: moveInBtn .5s ease-out .75s;
        animation-fill-mode: backwards; 
    }

}
.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size ;
        color: $color-primary-subscription;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $greenAldi;
        padding: 1rem;
        text-shadow: .5px .5px 1px $color-shadow;
        transition: .2s;
    }

    &:hover {
        background-color: rgba($color-green-aldi,.8);
        color: $default-color-font;
        border-radius: 3rem;
        box-shadow: 0 1rem 2rem rgba($color-shadow, 0.5);
        transform: translateY(-2px);

    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-shadow, 0.5);
        transform: translateY(0);

    }
}