.heading-primary {
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3.5rem;

    &--main {
        display:block;
        font-size:5.5rem;
        font-weight: 300;
        letter-spacing: 3.3rem;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    
        @include respond(phone) {
            font-size:4.5rem;
            letter-spacing: 2rem;
        };
    
    }
    
    &--sub {
        font-family: 'Voltaire', sans-serif;
        display: block;
        font-size: 1.3rem;
        line-height: 5rem;
        margin-top:3rem;
        font-weight: 300;
        letter-spacing: 1rem;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        @include respond(phone) {
            font-size:1rem;
            letter-spacing: .6rem;
        };
        
    }
}   
