@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    
};
@mixin company {
    & {
    text-transform: uppercase;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, $color-blue-left-gradient, $color-blue-right-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    }    
}
@mixin  absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/**
0-600 phone
600-900 tablet portrait
900-1200 tablet paysage lanscape
[1200-1800] normal style applies
1800 + Large desktop
1em == 16px
//ORDER OF changes of media queries 
base + typography > general layout + grid > page layout + component
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { //600px
            @content
        };
    }
    @if $breakpoint == portrait {
        @media only screen and (max-width: 56.25em) { //900px
            @content
        };
    }

    @if $breakpoint == landscape {
        @media only screen and (max-width: 75em) { //1200px
            @content
        };
    }
    
    @if $breakpoint == large {
        @media (min-width: 112.5em) { //1800px
            @content
        };
    }
}