$primaryColor: #108dbb;
$color-primary-subscription: rgba(16, 141, 187, 0.644);
$blueEye: #1593a0;
$bluePlus: #1694a4;
$color-blue-heading: #5c7c8e;

$color-blue-green: #628465;
$blueFont: #7799ab;
$color-blue-font: #7799ab;

$darkGrey: #35373a;
$color-dark-grey: rgba(53, 55, 58, 0.671);
$color-grey-dark-3: rgba(29, 38, 53, 0.87);

$color-grey-light-1: #f7f7f7;
$color-grey-light-heading:rgb(221, 193, 193);
$color-light-bg: rgba(247, 247, 247, 0.829);
$lightWhite: rgba(255, 255, 255, 0.411);

$color-blue-left-gradient: rgba(63, 146, 155, 0.8);
$color-blue-right-gradient: rgba(4, 14, 20, 0.8);


$color-green-kaki: #356822;

$color-yellow-fix-light: rgb(238, 241, 16);
$color-orange-fix-dark: #fdb021;

$color-blue-fix-light: $color-blue-left-gradient;
$color-blue-fix-dark: $color-blue-heading;

$color-orange-special-light:rgb(238, 120, 93);
$color-orange-special-dark:rgb(148, 41, 17);

$greenContour: #8eb863;
$greenPal: #a2da67;
$color-green-pastel: #bfe594;
$greenAldi:rgba(0, 250, 154, 0.89);

$greenAldi:rgba(0, 250, 154, 0.89);

$color-green-aldi:rgb(172, 248, 219);

$color-green-aldi:rgb(172, 248, 219);

$secondaryColor: #C45C2A;


$color-rose:#F670B5;

$color-green-acid:rgba(77, 255, 0, 0.89) ;

$default-color-font: $darkGrey;
$color-shadow: $color-dark-grey;



$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
$gutter-horizontal:2%;
$gutter-vertical:5%;
$gutter-vertical-small:2%;
$grid-width:128rem;

//Font size
$default-font-size:1.6rem; 